@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
* {
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', 'sans-serif';
    color: #222;
    background-color: white;
    scroll-behavior: smooth;
}
.navbar{ 
    border-bottom: 5px groove #000;
    background-color: white;
}
.navbar-nav li{
    padding-left: 30px;
    font-size: 1.15em !important;
}
.carousel-item img {
    height: 100%;
    width: 100%;
}
.carousel-caption h1 {
    font-size: 300%;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 15px;
}
.carousel-caption button {
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: lightgoldenrodyellow;
}
.navbar-nav i{
    padding-right: 5px;
}

/*blog.html*/
.my-4{
    font-weight: 250;
    font-family: monospace; 
    color: black;
    text-decoration: 3px underline gray;
} 
.col-lg{
    font-family: monospace;
}
.col-lg em {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px darkgray;
}
.col-lg p > strong{
    color: gray;
}













/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}






/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
